<div class="bg-body-secondary pb-3">
    <div class="container">
        <div class="border-bottom border-dark-subtle pb-4 pt-4 row">
            <div class="col-3">
                <h2>Nayla Rosihan</h2>
            </div>
            <div class="col-5 text-center">
                <h4>About Us</h4>
                <p>Our company creates chanrming, user-friendly web applications that make your digital experience delightful. Dedicated to turning your ideas into beautifully crafted, powerful solutions that bring a little joy to your day</p>
            </div>
            <div class="col-4 text-center">
                <h4>Contact Us</h4>
                <p class="m-0">Email: {{'naylarosihan@gmail.com'}}</p>
                <p class="m-0">Phone: +61422328544</p>
            </div>
        </div>
        <p class="mb-0 mt-2 text-center">&copy;2024 Driver Management Portal. All rights reserved</p>
    </div>
</div>