<div class="container">
    <div class="card text-center dashboard-card">
        <div class="card-header">
          <h4>App Statistics</h4>
        </div>
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
                <p class="card-title">Insert</p>
                <p class="card-title">{{allStatistics?.inserts}}</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <p class="card-title">Delete</p>
                <p class="card-title">{{allStatistics?.deletes}}</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <p class="card-title">Update</p>
                <p class="card-title">{{allStatistics?.updates}}</p>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <p class="card-title">Retrieve</p>
                <p class="card-title">{{allStatistics?.reads}}</p>
            </div>
        </div>
      </div>
</div>